<acme-navbar></acme-navbar>
<div class='container'>
  <!-- <h1> You have <span>{{main.tasklist.length}} </span>
    <span ng-show='main.tasklist.length === 1'>task</span>
    <span ng-show='main.tasklist.length >1'>tasks</span>
  </h1>
  <form ng-submit='main.addTask()'>
    <input type='text' ng-model='main.taskInput' autofocus required>
    <input type='submit'>
  </form>
  <ul ng-repeat='task in main.tasklist'>
    <li ng-class='{"completed-task":task.done}'>
      <div class='edit-mode' ng-show='task.edit'>
        <input type='text' ng-model='task.desc'>
        <a ng-click='task.edit=false'>Save</a>
      </div>
      <div class='show-mode' ng-show='!task.edit'>
        <input type='checkbox' ng-model='task.done'>
        {{task.desc}}
        <a ng-click='task.edit=true'>Edit</a>
      </div>
   </li>
  </ul> -->
<div ng-hide='main.form'>
<form>
  <div class='progress'>
    <div class='progress-bar progress-bar-striped progress-bar-animated' ng-style="{'width': currentPercentage + '%'}">
      <span>{{currentPercentage}}% complete</span>
    </div>
  </div>
  <div class='form-group'>
    <label class='form-control-label'>Name:</label>
    <input type='text' class='form-control' ng-model='main.dog.name' autofocus>
  </div>
  <div class='form-group'>
    <label class='form-control-label'>Email:</label>
    <input type='email' class='form-control' ng-model='main.dog.email'>
  </div>
  <div class='form-group'>
    <label class='form-control-label'>State:</label>
    <select class='form-control' ng-model='main.dog.state'>
      <option value='' selected disabled>Please Choose...</option>
      <option value='FL'>Florida</option>
      <option value='NE'>Nebraska</option>
      <option value='IL'>Illinois</option>
    </select>
  </div>
  <button ng-click='main.Next()' ng-disabled='main.dog.name === $invalid || main.dog.email === $invalid || main.dog.state === $invalid'>Next</button>
</form>
</div>
<button class='btn btn-success' ng-click='main.Add()'>Add Dog</button>
  <table class='table' ng-show='main.summary'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='dogs in main.doglist'>
        <td>{{dogs.name}}</td>
        <td>{{dogs.email}}</td>
        <td>{{dogs.state}}</td>
        <td>
          <button class='btn btn-success' ng-click='main.Edit(dogs)'>Edit</button>
          <button class='btn btn-danger' ng-click='main.Remove($index)'>Remove</button>
        </td>
      </div>
      </tr>
    </tbody>
  </table>
  <div ng-show='main.edits'>
    <input type='text' ng-model='main.dogs.name'>
    <input type='email' ng-model='main.dogs.email'>
    <select ng-model='main.dogs.state'>
      <option value='' selected disabled>Please Choose...</option>
      <option value='NE'>Nebraska</option>
      <option value='IL'>Illinois</option>
      <option value='FL'>Florida</option>
    </select>
    <button ng-click='main.save(main.dogs)'>Save</button>
  </div>
</div>
