<acme-navbar></acme-navbar>
<!-- <div class='container'>
  <div class='wrapper wrapper-small'>
    <div class='box box--dark'>
      <h1 class='mb0'>{{title}}: {{task.length + tasksComplete.length}} {{tasks.length + tasksComplete.length === 1 ? 'task' : 'tasks'}}.</h1>
    </div>
    <div class='box box--small box-highlight'>
      <span>{{tasksComplete.length}} of {{taskLength()}} ({{taskCompletionTotal(tasksComplete.length)}}%) tasks complete.</span>
    </div>
    <ul class='list-ui'>
      <li class='list-ui__item'>
        <form name='addTask' ng-submit='createTask()' nonvalidate>
          <input class='input-ui' type='text' ng-model='newTitle' placeholder='Write a new task and hit enter...' ng-required autofocus>
          <div class='fr'>
            <button ng-hide='true' class='btn' type='submit' ng-disabled='addTask.$invalid'>Add Task</button>
          </div>
        </form>
      </li>
      <li class='list-ui__item' ng-repeat='task in tasks'>
        <span>{{task.title}}</span>
        <div class='fr'>
          <a href ng-click='removeTask($index)'>
            Remove
          </a>
          <a href ng-click='Edit($index)'>
            Edit
          </a>
        </div>
      </li>
      <li class='list-ui__item' ng-class="{'status status-done' : task.complete}" ng-repeat='task in tasksComplete'>
        <span>{{task.title}}</span>
        <div class='fr'>
          <a href ng-click='uncompleteTask($index)'>
            <span class='fa fa-undo'></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div> -->
<div class='container'>
  <h1> You have <span>{{main.tasklist.length}} </span>
    <span ng-show='main.tasklist.length === 1'>task</span>
    <span ng-show='main.tasklist.length >1'>tasks</span>
  </h1>
  <form ng-submit='main.addTask()'>
    <input type='text' ng-model='main.taskInput' autofocus required>
    <input type='submit'>
  </form>
  <ul ng-repeat='task in main.tasklist'>
    <li ng-class='{"completed-task":task.done}'>
      <div class='edit-mode' ng-show='task.edit'>
        <input type='text' ng-model='task.desc'>
        <a ng-click='task.edit=false'>Save</a>
      </div>
      <div class='show-mode' ng-show='!task.edit'>
        <input type='checkbox' ng-model='task.done'>
        {{task.desc}}
        <a ng-click='task.edit=true'>Edit</a>
      </div>
   </li>
  </ul>
</div>
