<acme-navbar></acme-navbar>
<div class='container'>
  <h1> You have <span>{{main.tasklist.length}} </span>
    <span ng-show='main.tasklist.length === 1'>task</span>
    <span ng-show='main.tasklist.length >1'>tasks</span>
  </h1>
  <form ng-submit='main.addTask()'>
    <input type='text' ng-model='main.taskInput' autofocus required>
    <input type='submit'>
  </form>
  <ul ng-repeat='task in main.tasklist'>
    <li ng-class='{"completed-task":task.done}'>
      <div class='edit-mode' ng-show='task.edit'>
        <input type='text' ng-model='task.desc'>
        <a ng-click='task.edit=false'>Save</a>
      </div>
      <div class='show-mode' ng-show='!task.edit'>
        <input type='checkbox' ng-model='task.done'>
        {{task.desc}}
        <a ng-click='task.edit=true'>Edit</a>
      </div>
   </li>
  </ul>

<h1>New Quote</h1>
<form>
  <input type='text' placeholder='Dogs Name' ng-model='main.dog.name'>
  <input type='email' placeholder='Email' ng-model='main.dog.email'>
  <select ng-model='main.dog.state'>
    <option value='' selected disabled>Please Choose...</option>
    <option value='Fl'>Florida</option>
    <option value='Ne'>Nebraska</option>
    <option value='Il'>Illinois</option>
  </select>
  <button ng-click='main.Add()' ng-disabled='main.dog.name === $invalid || main.dog.email === $invalid || main.dog.state === $invalid'>Add</button>
</form>
<ul ng-repeat='dogs in main.doglist'>
  <li>
    <div class='edit-mode' ng-show='dogs.edit'>
      <input type='text' ng-model='dogs.name'>
      <input type='email' ng-model='dogs.email'>
      <select ng-model='dogs.state'>
        <option value='' selected disabled>Please Choose...</option>
        <option value='Ne'>Nebraska</option>
        <option value='Il'>Illinois</option>
        <option value='Fl'>Florida</option>
      </select>
      <a ng-click='dogs.edit=fals'>Save</a>
    </div>
    <div class='show-mode' ng-show='!dogs.edit'>
      {{dogs.name}} | {{dogs.email}} | {{dogs.state}}
      <a ng-click='dogs.edit=true'>Edit</a>
      <a ng-click='main.Remove($index)'>Remove</a>
    </div>
</ul>
</div>
