@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body{
  font-family:'Montserrat';
  margin:0;
  height:100%;
  font-weight:300;
  /* background-color:#DBDBD4; */
  /* background-color:#DBDEE1; */
  /* background-color:#0CF !important; */
}
.navbar{
  background-color:#d8eefb !important;
  /* background-color:#0CF !important; */
}
.navbar-brand{
  color:#333 !important;
}
.nav-item{
  color:#333 !important;
}
span{
  cursor:pointer;
}
input[type='radio']{
  cursor:pointer;
}
.personInfo{
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-150px;
}
.personInfo input, select{
  width:400px;
  height:40px;
}
input[type='button']:enabled{
  cursor:pointer;
}
input[type='button']:disabled{
  background-color:;
}
