@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
body{
  font-family:'Montserrat';
  margin:0;
  height:100%;
  font-weight:300;
  /* background-color:#DBDBD4; */
  /* background-color:#DBDEE1; */
  /* background-color:#0CF !important; */
}
.navbar{
  background-color:#d8eefb !important;
  /* background-color:#0CF !important; */
}
.navbar-brand{
  color:#333 !important;
}
.nav-item{
  color:#333 !important;
}
span{
  cursor:pointer;
}
input[type='radio']{
  cursor:pointer;
}
.personInfo{
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-150px;
}
.personInfo input, select{
  width:400px;
  height:40px;
}
input[type='button']:enabled{
  cursor:pointer;
}
input[type='button']:disabled{
  background-color:;
}
.dogInfo{
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}
.question{
  border:medium none !important;
  margin:0 0 10px;
  min-width:100%;
  padding:0;
  width:100%;
}
.dogInfo input[type='text'], .dogInfo select, .dogInfo input[type='number'], .dogInfo input[type='button']{
  width:100%;
  border:1px solid #ccc;
  background:#fff;
  margin:0 0 5px;
  padding:10px;
}
